<form [formGroup]="formulario" >
    <h2>Registro de Alumnos</h2>
    <mat-form-field>
      <input matInput [formControl]="nameControl" placeholder="Nombre">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="lastNameControl" placeholder="Apellido">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="emailControl" placeholder="Correo electrónico">
    </mat-form-field>
    <mat-form-field appearance="fill" >
        <mat-label>Elija un curso</mat-label>
        <mat-select [(value)]="selected" [formControl]="typeControl">
          <mat-option value=1>Angular</mat-option>
          <mat-option value=2>VueJS</mat-option>
          <mat-option value=3>React</mat-option>
        </mat-select>
      </mat-form-field>
    <button mat-raised-button (click)="sendForm()">Enviar</button>
  </form>
  
  