
<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>PF Alquati</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
 </mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-list role="list">
        <mat-list-item role="listitem" (click)="showList()">Listado de Alumnos</mat-list-item>
        <mat-list-item role="listitem" (click)="showForm()">Ingresar alumno</mat-list-item>
      </mat-list>
    </mat-drawer>
    <main>
      <app-alumno-form *ngIf="formVisible === true"></app-alumno-form>
    </main>
  
</mat-drawer-container>